* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(image/cover.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

ul,ol {
    list-style: none;
}

.container {
    padding: 0;
    padding-top: 30px;
    margin: auto;
    max-width: 1000px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    gap: 21px;

}

.header-img {
    width: 100%;
}